<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Export</title>
</head>
<body>
<table border="1">
    <tr>
        <th>编号</th>
        <th>类型</th>
        <th>名称</th>
        <th>优先级</th>
        <th>内容</th>
        <th>创建时间</th>
        <th>开始时间</th>
        <th>状态</th>
        <th>数量</th>
        <th>已提交</th>
        <th>已提交</th>
        <th>已失败</th>
        <th>用户</th>
    </tr>
    {% for task in task_list %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.get_type_display }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.get_priority_display }}</td>
            <td>{{ task.content }}</td>
            <td>{{ task.init }}</td>
            <td>{{ task.timing }}</td>
            <td>{{ task.get_stat_display }}</td>
            <td>{{ task.count }}</td>
            <td>{{ task.submit }}</td>
            <td>{{ task.success }}</td>
            <td>{{ task.error }}</td>
            <td>{{ task.user.name }}</td>
        </tr>
    {% endfor %}
</table>
</body>
